.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    height: 100vh;
    background-image: none; /*нужен фон*/
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.header-home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(145deg, #0082c8, #ffffff);
    border-radius: 10px;
}

.header-home-page__user-controllers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-controllers__personal-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.personal-account-container {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 5px;
    min-width: 3.5rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #007aff, #00bfff, #3affc2, #3bff00, #007bff);
    background-size: 400% 400%;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.personal-account-container:hover {
    animation: gradientAnimation 2s ease alternate;
    filter: brightness(1.1);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Начальная позиция фона */
    }
    50% {
        background-position: 100% 50%; /* Позиция в середине анимации */
    }
    100% {
        background-position: 100% 100%; /* Конечная позиция фона */
    }
}

.label {
    color: #333;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.label:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.6);
}

.label:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background: linear-gradient(135deg, #3498db, #2980b9);
    border-radius: 15px 15px 0 0;
}

.label span {
    font-size: 18px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
    color: #f1c40f;
}

.main-home-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.footer-home-page {
    padding: 5px;
}

.section__article-get-ticker-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.article-get-ticker__input-get-field {
    max-width: 8rem;
}
.article-get-ticker__button-get {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    min-height: 2.5rem;
    width: 8.5rem;
    color: white;
    background-color: #004eff;
}
.article-get-ticker__button-get:active {
    transform: scale(0.9);
}
.article-get-ticker__button-get:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}

.article-content-container__ticker-container {
    display: flex;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    width: 50rem;
    padding: 5px;
    margin: 5px;
}

.article-get-ticker-container__error-container {
    text-align: center;
    min-width: 15rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.article-save-ticker-container__error-container {
    text-align: center;
    min-width: 15rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.article-get-ticker-container__controllers-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-ticker-container__span {
    border: 1px solid #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 10rem;
}

.main__section-save-tickers-container {
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.section__article-save-ticker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-save-ticker-container__controllers-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__section-content-ticker-container {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #bfbfbf;
}

.content-ticker-container__ticker-message {
    margin-top: 5px;
}

.content-ticker-container__content {
    margin: 5px;
    min-width: 50rem;
    min-height: 5rem;
    max-height: 35rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.article-save-ticker__input-save-field {
    max-width: 8rem;
}

.input-field {
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    padding: 5px;
    min-height: 2.5rem;
    border: 1px solid #bfbfbf;
}

.article-save-ticker__button-save {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    min-height: 2.5rem;
    width: 8.5rem;
    color: white;
    background-color: #004eff;
}

.article-save-ticker__button-save:active {
    transform: scale(0.9);
}
.article-save-ticker__button-save:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}

.article-save-ticker__button-save:disabled {
    cursor: not-allowed;
    background-color: #bfbfbf;
}
.article-get-ticker__button-get:disabled {
    cursor: not-allowed;
    background-color: #bfbfbf;
}

.article-save-ticker__input-date-start-field {
    width: 8rem;
}
.article-save-ticker__input-date-end-field {
    width: 8rem;
}