.logout-button {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    min-height: 2.5rem;
    width: 8.5rem;
    color: white;
    background-color: #004eff;
}

.logout-button:active {
    transform: scale(0.9);
}
.logout-button:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}