.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    height: 100vh;
    background-image: none; /*нужен фон*/
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.main-registration-page {
    display: flex;
    color: black;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    border-radius: 20px;
    padding: 10px;
    min-height: 6rem;
}

.registration-form__error-container {
    text-align: center;
    min-width: 15rem;
    min-height: 2rem;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form__registration-form-label {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
}

.main-registration-page__registration-form {
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 15rem;
    max-width: 20rem;
    border-radius: 5px;
}

.input-field {
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    padding: 5px;
    min-height: 2.5rem;
    border: 1px solid #bfbfbf;
}
.registration-form__registration-field {

}
.password-form__registration-field {

}

.registration-form__registration-button {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    min-height: 2.5rem;
    width: 8.5rem;
    color: white;
    background-color: #004eff;
}
.registration-form__registration-button:active {
    transform: scale(0.9);
}
.registration-form__registration-button:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}

.header-registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.registration-form__registration-form-controllers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
}

.registration-form__redirect-link:hover {
    color: #008cff;
    transition: ease-in-out 0.2s all;
}
.registration-form__redirect-link:active {
    transform: scale(0.9);
    transition: ease-in-out 0.2s all;
}
