.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    height: 100vh;
    background-image: none; /*нужен фон*/
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.header-restore-password-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-restore-password-page {
    display: flex;
    color: black;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    border-radius: 20px;
    padding: 10px;
    min-height: 6rem;
}

.restore-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.restore-password-container__restore-password-form {
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 15rem;
    max-width: 20rem;
    border-radius: 5px;
}

.restore-password-form__email-field {

}

.restore-password-form__restore-password-form-controllers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
}

.restore-password-form-controllers__send-mail-button {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    min-height: 2.5rem;
    width: 8.5rem;
    color: white;
    background-color: #004eff;
}
.restore-password-form-controllers__send-mail-button:active {
    transform: scale(0.9);
}
.restore-password-form-controllers__send-mail-button:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}

.input-field {
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    padding: 5px;
    min-height: 2.5rem;
    border: 1px solid #bfbfbf;
}