<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/logoutButton.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/footerWithUserLinks.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/normalize.css}">
    <title>Stock price tracker</title>
</head>
<body>
    <div class="main-container">
        <header class="header-home-page" th:insert="~{LogoutButton :: logout-form}">
        </header>
        <main class="main-home-page">
            <section class="main__section-save-tickers-container">
                <article class="section__article-save-ticker-container">
                    <div class="article-save-ticker-container__controllers-container">
                        <input class="input-field article-save-ticker__input-save-field" placeholder="Ticker symbol">
                        <input class="input-field article-save-ticker__input-date-start-field" type="date">
                        <input class="input-field article-save-ticker__input-date-end-field" type="date">
                        <button class="article-save-ticker__button-save">Save</button>
                    </div>
                    <div class="article-save-ticker-container__error-container"></div>
                </article>
                <article class="section__article-get-ticker-container">
                    <div class="article-get-ticker-container__controllers-container">
                        <input class="input-field article-get-ticker__input-get-field" placeholder="Ticker symbol">
                        <button class="article-get-ticker__button-get">Get tickers</button>
                    </div>
                    <div class="article-get-ticker-container__error-container"></div>
                </article>
                <article class="main__section-content-ticker-container"></article>
            </section>
        </main>
        <footer th:insert="~{footerWithUserLinks :: footer-with-user-links}"></footer>
    </div>

    <script type="module" th:src="@{/js/home/HomeListener.js}"></script>
</body>
</html>