<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" th:href="@{/css/footerWithUserLinks.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/normalize.css}">
    <title>Stock price tracker</title>
</head>
<body>
    <div class="main-container">
        <header class="header-registration-page"></header>
        <main class="main-registration-page">
            <form class="main-registration-page__registration-form" method="post">
                <label class="registration-form__registration-form-label">Registration</label>
                <input class="input-field registration-form__login-field" id="username" name="username" placeholder="login"/>
                <input class="input-field registration-form__password-field" id="password" name="password" placeholder="password"/>
                <article class="registration-form__registration-form-controllers">
                    <button class="registration-form__registration-button">Submit</button>
                    <a class="registration-form__redirect-link" href="login">Sign in</a>
                </article>
                <div class="registration-form__error-container"></div>
            </form>
        </main>
        <footer th:insert="~{footerWithUserLinks :: footer-with-user-links}"></footer>
    </div>

    <script type="module" th:src="@{/js/RegistrationForm.js}"></script>
</body>
</html>