<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" th:href="@{/css/updatePasswordAfterRestore.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/normalize.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/footerWithUserLinks.css}">
    <title>Update password</title>
</head>
<body>
    <div class="main-container">
        <header class="header-update-password-page"></header>
        <main class="main-update-password-page">
            <section class="update-password-container">
                <form class="update-password-container__update-password-form">
                    <label for="update-password-field" class="update-password-form__update-password-form-label">
                        Update password
                    </label>
                    <input
                            class="input-field update-password-form__password-field"
                            id="update-password-field"
                            placeholder="new password"
                    >
                    <div class="update-password-form__error-container">

                    </div>
                    <article class="update-password-form__update-password-form-controllers">
                        <button class="update-password-form-controllers__send-mail-button">Update</button>
                        <a class="update-password-form-controllers__redirect-link" href="login">Sign in</a>
                    </article>
                </form>
                <p>Введите новый пароль</p>
            </section>
        </main>
        <footer th:insert="~{footerWithUserLinks :: footer-with-user-links}"></footer>
    </div>

    <script type="module" th:src="@{/js/restore/UpdatePasswordAfterRestore.js}"></script>
</body>
</html>